.contact {
  margin: 120px auto;
  display: flex;
  @include device(small) {
    margin: 60px auto;
    flex-direction: column;
  }
}

.contact form {
  label {
    @include type-2(18px);
    display: block;
  }
  input[type="text"],
  textarea {
    @include type-1(18px);
    color: $gray;
    width: 100%;
    padding: 0 5px;
    height: 40px;
    border: 2px solid $dark-beige;
    background-color: transparent;
    margin-bottom: 1em;
    &:hover,
    &:focus {
      outline: none;
      border-color: $medium-beige;
    }
  }
  textarea {
    height: 120px;
  }
}

input[type="button"] {
  @include type-1(18px);
  cursor: pointer;
  color: $dark-beige;
  text-transform: uppercase;
  border: 2px solid $dark-beige;
  background-color: transparent;
  width: 200px;
  padding-top: 5px;
  @include box-shadow(5px 5px 0 -2px $medium-beige, 5px 5px 0 0 $dark-beige);
  transition: 0.3s;
  &:hover {
    @include box-shadow(3px 3px 0 -2px $dark-beige, 3px 3px 0 0 $medium-beige);
  }
}

.contact-info {
  display: inline-block;
  flex-direction: column;
  color: $dark-beige;
  margin: 2em 0 3em 0;
  @include device(large) {
    display: block;
    flex-direction: column;
    color: $dark-beige;
    text-align: right;
    margin-top: -3em;
  }
}

.contact-map {
  display: block;
  @include box-shadow(0 0 0 10px $medium-beige);
  img {
    width: 100%;
  }
}
