footer {
  padding: 20px 0;
  background-color: $gray;
  @include box-shadow(0 0 0 10px $gray);
  p {
    color: $light-beige;
    @include device(small) {
      text-align: center;
    }
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include device(small) {
      flex-direction: column;
    }
  }
  img {
    @include device(small) {
      margin: 20px auto;
    }
  }
}
