@function em($px, $context: 16px) {
  @return calc($px / $context) * 1em;
}

@mixin type-1($size) {
  font-family: $font-1;
  @if $size == 18px {
    font-size: em(18px);
    line-height: em(30px, 18px);
  }
}

@mixin type-2($size) {
  font-family: $font-2;
  @if $size == 18px {
    font-size: em(18px);
    line-height: em(30px, 18px);
  }
  @else if $size == 24px {
    font-size: em(24px);
    line-height: em(30px, 24px);
  }
}

@mixin box-shadow($shadow...) {
  box-shadow: $shadow;
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
}
